@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-image {
      width: 170px !important;
      height: 170px !important;
      border-radius: 50%;
      object-fit: cover;
      margin-top: 40px;
    }
  }
  